@import url('https://fonts.googleapis.com/css?family=Noto+Sans');



body {

    background-color: #193c6d;

    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');

    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);

    background-size: 100%;

    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));

    background-image: -webkit-linear-gradient(135deg, #003073, #029797);

    background-image: -moz-linear-gradient(45deg, #003073, #029797);

    background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);

    background-image: -o-linear-gradient(45deg, #003073, #029797);

    background-image: linear-gradient(135deg, #003073, #029797);

    text-align: center;

    margin: 0px;

    overflow: hidden; font-family: 'Noto Sans';

}
.colorWhite{color: #fff;}

.under{

  font-size: 2em;

    color: #fff;

    font-weight: bold;

    vertical-align: middle;

    margin: 6em 0;

    position: absolute; font-family: 'Noto Sans';

}



.navbar-default {

    background-color: transparent;

    border-color: transparent;

    color: #fff;

    font-size: 16px; font-family: 'Noto Sans';

}

.navbar-default .navbar-text {

    color: #fff;

}

.navbar-default .navbar-nav>li>a {

    color: #fff;

}

.loginLogo img{height: 20px;

    margin-top: 1em;}