/*@font-face {

    font-family: camingodos-web, sans-serif;

    src: url("../fonts/CamingoDosProSemiBold.otf") format("opentype");

}*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html, body {

  width: 100%;

  height: 100%;

}
.colorWhite{color: #fff;}


.bg-img {

  width: 100%;

  height: 100%;

  background: url('../img/pattern.png') center center no-repeat;

  background-size: cover;

  

  &:before {

    content: '';

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);

    opacity: .6; 

  }

}

.navbar-default {

    background-color: transparent;

    border-color: transparent;

}

.loginLogo{



   font-family: 'Noto Sans';

   font-size: 3em;

   font-weight: bold;

       margin-bottom: 20px;

    letter-spacing: 5px;

}

.loginLogo img{height: 30px;}

.well{    min-height: 20px;

    padding: 19px;

    margin-bottom: 20px;

    background-color: #ffffff;

    border: 0px solid #e3e3e3;

        box-shadow: 0 0 6px 2px rgba(0,0,0,.1);

    border-radius: 5px;

    background: rgba(255, 255, 255, 0.31);

    font-family: 'Noto Sans';

}

.loginDiv{



	padding: 0;font-family: 'Noto Sans';

}

.loginDiv legend{    border-bottom: 0px solid #e5e5e5;

    text-transform: uppercase;

    margin: 0 0 30px 0;

    font-size: 18px;

    font-weight: 600;font-family: 'Noto Sans';}

 .loginInput{    font-size: 15px;

    height: 40px;

    margin-bottom: 10px;

    border-color: #b2bfc7;

    padding-left: 12px;

    max-width: none;font-family: 'Noto Sans';}

  .loginBtn {    padding: 10px 50px;

    font-size: 17px;

    margin: 10px 0;

    border: 0px;

    border-radius: 3px;font-family: 'Noto Sans';}

    .loginFtr{font-family: 'Noto Sans';color: #fff;}

    .loginFtr a{color: #fff;font-weight: 600}

    .forgotpassword{text-decoration: underline;margin-top: 5px;}