@font-face {
    font-family: camingodos-web, sans-serif;
    src: url("../fonts/CamingoDosProSemiBold.otf") format("opentype");
}


.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.loginLogo{

   font-family: camingodos-web;
   font-size: 3em;
   font-weight: bold;
       margin-bottom: 20px;
    letter-spacing: 5px;
}
.well{    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
        box-shadow: 0 0 6px 2px rgba(0,0,0,.1);
    border-radius: 5px;
    background: rgba(255,255,255,.65);
}
.loginDiv{

	padding: 0
}
.loginDiv legend{    border-bottom: 0px solid #e5e5e5;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    font-size: 18px;
    font-weight: 600;}
 .loginInput{    font-size: 15px;
    height: 40px;
    margin-bottom: 10px;
    border-color: #b2bfc7;
    padding-left: 12px;
    max-width: none;}
  .loginBtn {    padding: 10px 50px;
    font-size: 17px;
    margin: 20px 0;
    border: 0px;
    border-radius: 3px;}