
@font-face {
    font-family: camingodos-web, sans-serif;
    src: url("../fonts/CamingoDosProSemiBold.otf") format("opentype");
}

body {
    line-height: 1.4;
    font-family: camingodos-web, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 400;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    outline: none;
}

a:hover, a:focus, a:active{
    text-decoration: none;
    outline: none;
}
/***********************************
************************************
Responsive media queries
************************************
***********************************/
.header {
    /*background: url('../img/bg-banner03.jpg') no-repeat fixed;*/
    background-size: cover;
    min-height:610px;
    position: relative;
}
.navbar-default {
    background-color: transparent;
    border: 0px;
    padding: 26px 0;
    transition: all 0.3s;
}
.navbar{margin-bottom: 8px;}
.navbar-brand {
    font-size: 36px;
   /* font-family: 'Satisfy', cursive;*/
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #6673e5;
    outline: none;
}
.navbar-default .navbar-nav > li > a{
        font-size: 14px;
    font-weight: 500;
    color: #6b7c93;
    outline: none;
    padding: 10px 30px;
    letter-spacing: 1px;    margin-top: 12px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #6673e5;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #6b7c93;
    background-color: transparent;font-weight: bold;
}

.top-nav-collapse {
    padding: 0; 
    background: rgba(50,60,70, 0.9);
}

.bg-color{
    background-color: #fff;
    min-height: 610px;
}
.navbar-border{
}
.btn-group-lg>.btn, .btn-lg{padding: 12px 16px;}
.banner-text{
    /*border-left: 5px solid #BE2525;*/
    padding: 15px 0;
    color: #6b7c93;
    margin-top: 10px;
}
.banner-text h2{
    font-size: 30px;
    font-weight: 600;margin-bottom: 25px;
    font-family: camingodos-web, sans-serif;color: #6673e5;
}
.banner-text p{
    font-size: 16px;
    font-weight: 400;line-height: 33px;
    font-family: camingodos-web, sans-serif;margin-bottom: 60px;
}
.banner-text h2 span{
    font-family: camingodos-web, sans-serif;
}
.overlay-detail{
    margin: 0 auto;
}
.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: -140px;
    font-size: 24px;
    color: #fff;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 40px;
    border-radius: 50%;
}
.deco{
    font-family:camingodos-web, sans-serif;

}
#platform{
    /*background: url('../img/about-banner.jpg') no-repeat;*/
    background-size: cover;
/*  margin-bottom: -3px;*/
margin: 0 0 100px;
}
.platformSubtext{color: #6d7c93 !important;text-transform: uppercase;margin: 4% 0 3%;font-size: 20px;font-weight: 600;}

#platform h3{    color: #6673e5;
    text-transform: uppercase;margin: 4% 0 3%;font-size: 20px;font-weight: 600;}
.voise-platform p{color: #6d7c93;
    font-weight: 500;
    font-family: camingodos-web, sans-serif;
    font-size: 16px;
    /* width: 50%; */
    padding: 0 13%;
    margin-bottom: 8%;line-height: 33px;}
.section-padding{
    padding: 60px 0px;
}
.title{
    font-size: 24px;
    margin-bottom: 50px;
}
.title-text{
    padding: 0px 25px 0px 0px;
    border-right: 5px solid #BE2525;
    font-size: 24px;
}
.about-text p{
    color: #444;
}
.abt-list li{
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 400;
}
#portfolio{
    background-color: #fff;
}
.grid-padding{
    padding: 0 8px;
}
.grid-padding img{
    margin-bottom: 15px;
}
.padding-right-zero{
    padding-right: 0px !important;
}
#myGrid{
    margin-top: 50px;
}
.test-sec blockquote {
    background: #eee;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.test-sec blockquote::after {
    content: '';
    position: absolute;
    bottom: -14px;
    margin-left: 10px;
    border-top: 14px solid #eee;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid RGBA(0, 0, 0, 0.18);
}
.test-sec .carousel-info span {
    display: block;
}
.test-sec span.testimonials-name {
    color: #62646f;
    font-weight: 600;
    margin: 16px 0 5px;
}
#contact {
    width: 100%;
    background-color: #f6f9fc;margin-top: -10px;padding-bottom: 20px;
padding-top: 40px;}

#contact .btn-primary {
        background: #00cf6f;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;margin-bottom: 15px;border-radius: 2px;
}
#contact .btn-primary:hover {
        background: #00cf6f;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;margin-bottom: 15px;border-radius: 2px;
}
#contact .btn-default {
      color: #00cf6f;
    border: none;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
    text-transform: uppercase;
    letter-spacing: 2px;margin-bottom: 15px;border-radius: 2px;
}
#contact .btn-default:hover {
      color: #00cf6f;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
    text-transform: uppercase;
    letter-spacing: 2px;margin-bottom: 15px;border-radius: 2px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    background: #fff;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
    background: #fff;
}

#sendmessage.show, #errormessage.show, .show {
    display:block;
}

footer {
    padding: 40px 0;
    background: #F2F3EB;
}

.footer a {
    color: #BE2525;
}

.footer__navigation li, .social-list li{
    display: inline-block;
}
.contact-sec h2 {
       font-size: 25px;
    color: #6673e5;
    font-weight: 400;
    padding: 0;
    margin: 0 0 10px;
}
.contact-sec p b{    color: #6d7c93;
    font-size: 16px;}
.footer__navigation li a
{
    display: inline-block;
    color: #767676;
    font-weight: 600;
    font-variant-ligatures: common-ligatures;
    font-size: 1.2em;
    line-height: 1.625em;
    margin-top: 0;
    margin-bottom: 1.625em;
    padding-right: 10px;
}
.contact-sec p {
    color: #fff;
        font-size: 16px;
    padding: 0px 0px 24px;
}
.contact-sec i{
    padding-right: 15px;
}
.contact-sec a {
    color: #FFF;
    background-color: RGBA(174, 142, 142, 0.7);
    display: inline-block;
    padding: 16px 34px;
    font-size: 18px;
    transition: all 0.5s ease-in 0s;
}
.carousel-info, blockquote {
    float: left;
}
.social-list li{
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    /*opacity: .5;*/
    display: inline-block;
    margin: 0 6em 0 0;
}
.social-list li a{
        font-size: 28px;
        margin-right: 15px;
}
.type-underline, .type-underline:hover{
    color: #767676; 
}
.footer__lower {
    margin-top: 3.25em;
}
.type--fine-print{
    color: #767676;
}
.navbar-toggle {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
}
.navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
}
.navbar-brand{
    margin-top:0;    height: 60px;
}
.navbar-brand>img{display: inline-block;width: 40px;margin-top: -5px;margin-right: 5px;}
.navbar-brand>span{letter-spacing: 2px;font-size:20px;
font-weight: bold;
}
.supportHeader{border-right:1px solid rgba(107, 124, 147, 0.69);margin-left: 20px;}
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }



/**My Css**/
#stripes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-6deg);
        background: #f6f9fc;
    transform-origin: 0;
    /*background-size: 100% 100%;
    background-repeat: no-repeat;
    background: url("../img/Voise_icons/web_background_corrected.png");*/
  /*  background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
     animation: colorchange 50s;
     -webkit-animation: colorchange 50s;*/
}
@keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }
#stripes, #stripes span {
    position: absolute;
}


/**VOISE FEATURES CSS START*/

.voise-platform{text-align: center}
.platform {
    float: left;
    text-align: left;
}
.pic2Ab {
    float: left;margin-top: 16px;width: 60px;height: 60px;
}
.platform_img{    padding: 0 7px;}
.platform h3 {
    font-size: 16px;
    color: #2f2f2f;
    font-family: camingodos-web, sans-serif;
    font-weight: 600;margin: 
}
.platform p {
        font-size: 16px;
    line-height: 33px;
    color: #6d7c93;
    font-family: camingodos-web, sans-serif;
    font-weight: 500;
    margin-top: -4px;
    margin-bottom: 0;
}
/***/

/** HOW IT WORKS CSS**/
.voise-works img{width: 75px;height: 75px;margin-bottom: 30px;margin-top: 20px;}
.howitworks h2{color: #6673e5;margin-bottom: 40px;font-weight: bold;font-size: 20px;}
.howitworks p{color: #6d7c93;margin-bottom: 7%;padding: 0 13%;line-height: 33px;font-size: 16px;}
.voise-editor{    background: #fff;
   /* border: 1px solid #ddd;*/
 -webkit-box-shadow: 0px 0px 25px 0px rgba(221,221,221,1);
-moz-box-shadow: 0px 0px 25px 0px rgba(221,221,221,1);
box-shadow: 0px 0px 25px 0px rgba(221,221,221,1);
    border-radius: 5px;
    padding: 0;
    height: 100%;}
    .codeingImg ul {padding: 0}
.codeingImg ul li{margin-bottom: 10px;}
.voise-editor img{width: 100%;height: 350px}
.option-button{    background: transparent;
    border: 0;    padding: 10px 15px 10px 35px;color: #6d7c93;cursor: pointer;}
.option-button:hover{    background: #fff;
    border: 0;    padding: 10px 15px 10px 35px;color:#00cf6f;cursor: pointer;
-webkit-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);

}
.codeingImg{margin-left: 4%}
.editorNo{    background: #ebedff;
    color: #8a94eb;
    text-align: center;
    padding: 13px;border-radius: 3px 0 0 3px}
.editorNo div{    margin: 6px 0;
    font-size: 13px;
    font-weight: 500;}
.editorCode{background: #fff;color: #000;text-align: left;
    padding: 13px;}
.editorCode div{margin: 3px 0}
.const{color:#fa7a61;font-weight: bold; }
.require{    font-weight: 600;
    color: #3297d3;}
.stripe{    font-weight: 400;
    color: #159570;}
.comment {
    font-weight: 400;
    color: #91a2b0;
}
.normaltext{color: #424770;}
.testnumber{    color: #159570;font-weight: 500;}
/*****/
/**POrtfolia css start**/
.tablebody td{color: #6d7c93;font-size: 14px;}
#portfolia-stripes{ width: 100%;
    height: 900px;
    overflow: hidden;
    transform: skewY(-5deg);
    transform-origin: 0;
   /* background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);*/
   background: #f6f9fc;
 
}
#portfolia-stripes, #portfolia-stripes span {
    position: absolute;
}
.m-15{margin: 22em 0 10em;}
.


/***/
/**table css**/
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #00a1ff !important;
    text-align: left;
    margin-bottom: 40px;
}
.thead-default{background: #6b7c93;color: #fff;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{    padding: 22px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;}
/****/
/**POrtfolia css start**/
#testimonial-stripes{ width: 100%;
    height: 990px;
    overflow: hidden;
    transform: skewY(-5deg);
    transform-origin: 0;
   /* background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);*/
   background: #f6f9fc;
 
}
#testimonial-stripes, #testimonial-stripes span {
    position: absolute;
}


/***/
/**social css start**/
.currentFtur{    margin: 3em 0 0em;}
.social{margin:10em 0 4em;}
.socialIcons{margin-bottom: -60px;}
.social h4{color: #00cf6f;margin-bottom: 5%;}
.social-list p{font-size: 11px;margin: 23px 0 0;color: #585858;}
.custom-icon {
  font-size:25px;
  background:#6C7C92;
  padding:10px;
  -webkit-border-radius:1100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;/*
  border:6px solid #fff;*/
  color:#fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:50px;
  height:50px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.custom-icon:hover {
  background:rgba(0,0,0,0.6);
}
/***/
/**footer start**/
.contact-ul ul{margin: 70px 0 0;padding: 0 10px;}
.contact-ul ul li{color: #6d7c93;text-align: left;margin: 10px 0 20px 0;}
.contact-sec ul{    padding: 0;
    color: #fff;
    margin: 17% 0 0;}
    .btn-group-lg>.btn, .footerIMg {
    padding: 12px 30px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.copyright{color: #6d7c93;}
.copyright ul{padding: 0;}
.copyright ul li{position: absolute;margin-top: -42px;margin-left: 1em;}
/****/
.highlighted
{
background-color:#fff;
color: #00cf6f;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
border-radius: 1px;
    padding: 10px 15px 10px 35px;
}
.apiBar{border-top: 1px solid #6b7c93;padding: 10px 0 !important;margin-top: 6em;}
.business{margin: 3em 0 35px;    
    color: #6b7c93;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;}
.roadmapTitles{margin: 7em 0 3em;
    
    color: #6b7c93;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px}
.voiserd{      margin: 2em 0 10px;letter-spacing: 2px;
    color: #6673e5;
    font-weight: bold;
    font-size: 20px;}
.subtitleRd{font-size: 12px;
    margin: 10px 0;}
    .m-b-10{margin-bottom: 8%;}
.outer {
    overflow: hidden;
    position: relative;
    width: 730px;
    height:610px;
        float: right;
    margin-top: -29%;}

.inner {
    position: absolute;
        right: -14%;
    top: 23.3%;
}
.inner img{height: 405px;
}
.navbar-right{    margin-right: 20px;}
.inner2 {
    position: absolute;
    right: 20%;
    top: 41%;
}
.inner2 img{    width: 510px;
    height: 300px;}
.featureImg {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 520px;
        float: left;}

.featureImginner {
    position: absolute;
        right: 17%;
    top: 65px;
}
.featureImginner img{
    height: 450px
}
.featureImgright {
       overflow: hidden;
    position: relative;
    width: 100%;
    height: 670px;
    float: right;}

.featureImgrightinner {
        position: absolute;
    right: -37%;
    top: 130px;
}
.featureImgrightinner img{
       height: 570px;
}
.featureVoise{    margin-top: -20%;
    padding: 0;}
/*.featureText{margin-left: -5em;}*/
.currentFtr{margin-left: -4em;margin-top: 85px;}
    .featureText h4{color: #6673e5;
    margin-right: -4%;
    margin-bottom: 30px;
    font-weight: bold;}
    .featureText p{margin-right: -4%;color: #6d7c93;letter-spacing: 1px;}
.no-padding{padding: 0}
.m-t-4{margin-top: 4%}
.m-t-5{margin-top: 5%;}
.banner-text .btn-primary {
    background: #00cf6f;
    border: none;border-radius: 5px;
}
.banner-text .btn-primary:hover {
    background: #19892c;
    border: none;border-radius: 5px;
}
.register{color:#fff;background: #6b7c93;border-color: #6b7c93;border-radius: 5px;border:none;}
.register:hover{background: #5d6a7d;border-color: #5d6a7d;color: #fff;border:none;}
.btn-lg{letter-spacing: 2px;width: 15%;}
.m-r-3{margin-right: 3%}
.m-10{margin: 10px 0 0 0}
.m-20{margin: 20px 0;}
.dot{     float: left;
    color: #0ed176;
    padding: 0;
    font-size: 8px;}
.l-h-22{line-height:25px}
.roadmap{  line-height: 18px;
    margin: 10px 0;
    font-size: 15px;
    padding: 0 25% 0 0;color: #6b7c93;}

.roadmapResult h3{    font-size: 30px;
    font-weight: bold;color: #6b7c93}
.table-striped>tbody>tr:nth-of-type(odd){background: #f6f9fc !important}
.table-striped>tbody>tr:nth-of-type(even){background: #fff !important}
.social-list img{width: 70px;height: 70px;}
.roadMapBGR{    height: 903px;
    background: #f6f9fc;
    padding: 0;}
.voisebusinessBkgrnd{height: 1000px;
    background: #f6f9fc;
    padding: 0;}
/**Token css start**/

.tokenHeader{padding-right:15%;}
.tokenHRBtn{margin: 8em 0;text-align: center;}
.tokenHader{min-height: 550px}
.tokenRdmp{    margin: 3em 0 3em;}
.toknExchnge{text-align: center;padding: 0 13%;}
.toknExchnge h3{color: #6673e5;    font-weight: 600;margin-bottom: 2em;}
.toknExchnge p{color: #6b7c93;}
.toknExchngeMain{    background: #f6f9fc; margin: 2em 0 0 0;}
.tokenExchngBtns{padding: 5em 0;}
.tknBittrx{padding:1em 3em 1em 5em;}
.tknBittrx h3{font-weight: 600;padding-bottom: 30px;color: #6b7c93;}
.tknBittrx p{padding-bottom: 3em;    padding-right: 10%;color: #6b7c93;}
.TKNBTNEXCNG{    background: #00cf6f;
    border: none;
    border-radius: 5px;    padding: 12px 30px;
    letter-spacing: 2px;}
.tokenComlogo{padding: 8em 0}
.tknCmpny img{width: 100%;    height: 70px;}
.tknCmpncndk img{    height: 120px;
    margin-top: -2em;}
.tknCmpncoinimg{    height: 100px;
    margin-top: -15px;}
.tokenKonw{    background: #fff;
    border-radius: 5px;
    padding: 15px 30px;
    color: #6673e5;
    border: none;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
font-weight: bold;
}
.tokenKonw:hover{background: #fff;
    border-radius: 5px;
    padding: 15px 30px;
    color: #6673e5;
    border: none;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(238,238,238,1);
box-shadow: 0px 0px 20px 0px rgba(238,238,238,1); font-weight: bold;}    
/**TOken css end**/

/*.contact-sec{margin-left: 10em;}*/
/*#notebook {
    position: relative;
    padding-bottom: 70px;
}

#notebook nav select {
    width: 100%;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-size: 17px;
    color: #24b47e;
    border-radius: 2px;
    padding: 7px 12px;
    border: none;
    outline: none;
    background: #fff url(/img/v3/home/code-snippets/select-arrows.svg) no-repeat 97% 50%;
    background-size: 9px 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#editor {
    margin: 20px 0;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(50,50,93,.1);
}

#editor pre {
    display: -ms-flexbox;
    display: flex;
}
pre {
    position: relative;
    color: #424770;
}
code, pre {
    font-family: Source Code Pro,Consolas,Menlo,monospace;
}

#editor pre {
    display: -ms-flexbox;
    display: flex;padding: 0;
}
pre {
    position: relative;
    color: #424770;
}
code, pre {
    font-family: Source Code Pro,Consolas,Menlo,monospace;
}
#editor code {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;background: #fff;
}
#editor pre>* {
    padding: 12px;
    font-size: 13px;
    line-height: 1.5;
}
.language-php .token.operator, code .token.atrule, code .token.keyword, code .token.tag {
    font-weight: 600;
}
.language-php .token.operator, code .token.atrule, code .token.keyword {
    color: #6772e5;
}
code .token:not(.script) {
    font-weight: 400;
}
code .token {
    padding: 0;
    margin: 0;
}
code.language-url, code .token.function, code .token.url {
    font-weight: 600;
    color: #3297d3;
}
code.language-html .token.attr-value>.punctuation:not(:first-child), code.language-markup .token.attr-value>.punctuation:not(:first-child), code .token.attr-value, code .token.macro, code .token.string, code .token.stripe, code .token.value {
    font-weight: 400;
    color: #159570;
}
code .token.comment {
    font-weight: 400;
    color: #91a2b0;
}
.common-Link {
    color: #6772e5;
    font-weight: 500;
    transition: color .1s ease;
    cursor: pointer;
}
.common-BodyText {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #6b7c93;
}
#editor .custom-line-numbers {
    text-align: right;
    background: #f2feef;
    color: #5dc79e;
    border-radius: 2px 0 0 2px;
}*/


/***********************************
************************************
Responsive media queries
************************************
***********************************/

@media (min-width: 1025px) and (max-width: 1200px){
    .featureImg{width: 400px;}.social {
    margin: 27em 0 0;
}.codeingImg{margin-top: 20px;}#portfolia-stripes{height: 800px;}
.navbar-default .navbar-nav > li > a{
font-size: 14px;
font-weight: 500;
outline: none;
padding: 10px 20px;
letter-spacing: 1px;
margin-top: 12px;
}
.outer{margin-top: -23%;}
.contact-sec h2 {
       font-size: 25px;
}
.contact-sec p b{font-size: 18px;}
.contact-sec {
    margin-left: 5em;
}
.btn-lg{width: 20%;}
.social-list li{width: 15%;}
.featureText h4{margin-right: 4%;}
.featureText p{margin-right: 4%;}
.featureImgrightinner {
    position: absolute;
    right: -45%;
    top: 130px;
}


}
@media (min-width: 981px) and (max-width: 1024px){
    .featureImg{width: 400px;}.social {
    margin: 6em 0 0;
}.codeingImg{margin-top: 0;}#portfolia-stripes{height: 900px;}
.dot {
    margin-right: 0 !important;
}
.roadmapResult h3{text-align: left !important;}
.navbar-default .navbar-nav > li > a{
font-size: 14px;
font-weight: 500;
outline: none;
padding: 10px 20px;
letter-spacing: 1px;
margin-top: 12px;
}
.currentFtr p{text-align: left !important;}
.contact-sec h2 {
       font-size: 25px;
}
.contact-sec p b{font-size: 16px;}
.contact-sec {
    margin-left: 0;
}
.btn-lg{width: 20%;}
.social-list li{width: 5%;}
#testimonial-stripes{height: 1000px;}
.tableRes{margin-bottom:0;}.m-b-10 {
    margin-bottom: 0;
}
.copyright{margin-left: 0;}
.currentFtur {
    margin: 15em 0 0em;
    text-align: left !important;
}
.featureText h4 {
    margin-right: 5%;
}
.featureText p {margin-right: 5% !important;}
.featureImgrightinner {
    position: absolute;
    right: -45%;
    top: 130px;
}

.platform p{    font-size: 13px;
    line-height: 25px;
    color: #6d7c93;
    font-family: camingodos-web, sans-serif;
    font-weight: 500;
    margin-top: -4px;
    margin-bottom: 0;}
.mob-1002{text-align: left;}
   .navbar-default .navbar-nav > li > a{padding: 10px 20px;}
}

@media (min-width: 769px) and (max-width: 980px){
    .navbar-default .navbar-nav > li > a{padding: 10px 20px;}
    .tableRes{margin-bottom:15%;}
    .title-text{
    margin-bottom: 15px;
    }
    .copyright ul li{margin-top: -40px !important;}
    .btn-lg{width: 20%;}
.m-r-3{margin-right: 3%}
.social {
    margin: 8em 0 0;
}
.codeingImg{margin-top: 0;margin-left: 0;}
#portfolia-stripes{height: 900px;}
.navbar-default .navbar-nav > li > a{
font-size: 14px;
font-weight: 500;
outline: none;
padding: 10px 20px;
letter-spacing: 1px;
margin-top: 12px;
} .navbar-toggle{margin-top: 20px;}
.tableRes{overflow: auto;}
.business{padding: 0 13px;}
.social-list li{width: 16%;}
.contact-sec h2 {
       font-size: 25px;
}
.contact-sec p b{font-size: 16px;}
.contact-sec {
    margin-left:0;
}
#testimonial-stripes{height: 950px;}
.copyright{margin-left: 0}
#platform h3{margin: 15% 0 3%;text-align: center;}
.platformSubtext{margin-top: 5% !important}
#platform{margin-bottom: 0 !important}
.editorCode{padding: 16px;}
.dot{margin-right: 10px;}
.currentFtr{margin-left: 0;text-align: center;}
.currentFtur {
    margin: 10em 0 0em;
}
.featureText h4{margin-right: 0;text-align: center;}
.featureText p {margin-right: 0;text-align: center;}
.platform p{text-align: center;}
.pic2Ab{float: none;}
.platform_img{text-align: center;}
.platform{width: 100%}
.featureText{margin-top: 15%;}
.roadMapBGR { height: 900px;}

}

@media (min-width: 737px) and (max-width: 768px){
    .banner-text p{font-size: 14px;}
    .banner-text h2 {
    font-size: 25px;}
   .navbar-nav>li>a{padding: 10px 20px;}
    .outer{    overflow: hidden;
    position: relative;
    width: 730px;
    height: 550px;
    float: right;
    margin-top: -9%;}
    .tableRes{margin-bottom:15%;}
    .title-text{
    margin-bottom: 15px;
    }
    .copyright ul li{margin-top: -5em !important;position: relative;}
    .btn-lg{width: 30%;}
.m-r-3{margin-right: 3%}
.social {
    margin: 8em 0 0;
}
.codeingImg{margin-top: 0;margin-left: 0;}
.roadmapResult h3 {
    font-size: 30px;
    font-weight: bold;
    color: #6b7c93;
    margin: 2em 0 1em;text-align: center;
}

#portfolia-stripes{height: 900px;}
.navbar-default .navbar-nav > li > a{
font-size: 14px;
font-weight: 500;
outline: none;
padding: 10px 20px;
letter-spacing: 1px;
margin-top: 12px;
} 
.navbar-toggle{margin-top: 20px;background-color: #f6f9fc;border:none;}
.tableRes{overflow: auto;}
.business{padding: 0 13px;}
.social-list li{width: 16%;}
.contact-sec h2 {
       font-size: 25px;
}
.contact-sec p b{font-size: 16px;}
.contact-sec {
    margin-left:0;
}
#testimonial-stripes{height: 950px;}
.copyright{margin-left: 0}
#platform h3{margin: 15% 0 3%;}
.platformSubtext{margin-top: 5% !important}
#platform{margin-bottom: 0 !important}
.editorCode{padding: 16px;}
.dot{margin-right: 10px;}
.currentFtr{margin-left: 0;}
.currentFtur {
    margin: 6em 0 0;text-align: center;
}
.featureText{text-align: center;margin-top: 6em;}
.featureText h4{margin-right: 0}
.featureText p {margin-right: 0;}
.social-list p {
    font-size: 11px;
    margin: 25px 25px 0;
    color: #585858;
    text-align: center;
}
.roadmap{padding: 0;margin: 20px 0}
.platform {
    float: left;
    text-align: left;
    padding: 0;
}
.mb-320{margin: 0;}
.social h4 {
    color: #00cf6f;
    margin-bottom: 9%;
    text-align: center;
}
.social-list img{margin-left: 15px;}

.mb-b-320{text-align: left;}
.pic2Ab{text-align: center;float: none;}
.platform_img{text-align: center;}
.platform p {
    font-size: 14px;
    line-height: 25px;
    color: #6d7c93;
    font-family: camingodos-web, sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10%;text-align: center;
}

#platform h3 {
    color: #6673e5;
    text-transform: uppercase;
    margin: 0% 0 3%;
    font-size: 18px;
    font-weight: 600;text-align: center;
}
#platform{margin: 0}
.howitworks h2 {
    color: #6673e5;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
.howitworks p {
    color: #6d7c93;
    margin-bottom: 20%;
    padding: 0 6%;
    line-height: 25px;
    font-size: 16px;
}

.editorNo{padding: 2px;}
.editorNo div {
    margin: 6px 0;
    font-size: 12px;
    font-weight: 500;
}
.roadmapTitles {
    margin: 10em 0 0em;text-align: center;}
.contact-ul ul li {
    color: #6d7c93;
    text-align: center;
    margin: 10px 0 20px 0;
}
.contact-ul ul {
    margin: 0 0 4em;
    padding: 0 10px;
}
.contact-ul{text-align: center;}
.editorCode {
    background: #fff;
    color: #000;
    text-align: left;
    padding: 11px;
    font-size: 13px;
}
.platform{width: 100%;}
.roadMapBGR { height: 900px;}
}

/*@media (min-width: 670px)
{
    #notebook nav button svg {
    position: absolute;
    width: 13px;
    height: 14px;
    top: 10px;
    left: 10px;
    pointer-events: none;
}
#notebook nav a {
    display: block;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 10px;
    border-top: 2px solid #e8f0f5;
}
    #notebook nav {
    position: absolute;
    right: 20px;
    width: 210px;
}
    #notebook nav select {
    display: none;
}
    #editor {
    margin: 0 245px 0 0;
}
#notebook nav .selected {
    color: #24b47e;
}
#notebook nav button {
    position: relative;
    width: 100%;
    padding-left: 32px;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    transition: color .3s;
}
#notebook nav a, #notebook nav button {
    height: 34px;
    -webkit-tap-highlight-color: transparent;
}
#notebook nav button path {
    transition: fill .3s;
}
#notebook nav .selected path {
    fill: #24b47e;

}*/
@media (min-width: 550px) and (max-width: 736px) {
    .platform{width: 100%;}
    .roadmapResult h3{margin-bottom: 1em;margin-top: 2em}
    .mb-pd-0{padding: 0}
    .tableRes{overflow: auto;}
    .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    }
    .navbar-toggle{margin-top: 20px;}
    .navbar-brand{
        margin-top: 0px;
    }
    .roadmapResult h3{margin-bottom: 1em;text-align: center;}
    .roadmap{padding: 0}
    .carousel-info {
        margin-bottom: 30px;
    }
    .type--fine-print{
        text-align: center;
    }
    #platform {
    margin-bottom: 0 !important;
    margin-top: -5em;
}
    .text-center-xs{
        text-align: center !important;
    }
    .social-list{
        margin-bottom: 15px;
    }
    .banner-text h2 {
    font-size: 20px;
    }
    .banner-text p {
    font-size: 15px;
    }
    .title-text{
    margin-bottom: 15px;
    }
    .btn-lg{width: 30%;}
    .m-r-3{margin-right: 3%}
    .outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 580px;
        float: right;
    margin-top: -26%;}

.inner {
    position: absolute;
        right: -19%;
    top: 16%;
}
.inner2 {
    position: absolute;
    right: 20%;
    top: 40%;
}
.featureImg {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
        float: left;}

.featureImginner {
    position: absolute;
        right: -6%;
    top: 50px;
}
.featureImgright {
       overflow: hidden;
    position: relative;
    width: 100%;
    height: 650px;
    float: right;}

.featureImgrightinner {
        position: absolute;
    right: -33%;
    top: 50px;
}
.social {
    margin: 13em 0 0;
}

.codeingImg{margin-top: 20px;width: 45%;}
#portfolia-stripes{height: 1100px;}
.btn-lg{margin: 10px 0}
.contact-sec h2 {
       font-size: 25px;
}
.contact-sec p b{font-size: 16px;}
.contact-sec {
    margin-left: 0;
}
.social-list li{width: 14%;} 
#testimonial-stripes{height: 900px;}
.copyright{margin-left: 0;text-align: center;}
.dot{margin-right: 10px;}

.currentFtur {
    margin: 8em 0 0em;
}
.copyright ul li {
    position: relative;
    margin-top: 0;
    margin-left: 1em;
    bottom: 0;
}
.stripe {
    font-weight: 400;
    color: #159570;
    word-wrap: break-word;
}
.currentFtr {
    margin-left: 0em;
    margin-top: 0;
}
.featureText h4 {
    color: #6673e5;
    margin-right: 0;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.test-sec{margin-top: 6em;}
.featureText p {
    margin-right: 0%;
    color: #6d7c93;
    letter-spacing: 1px;
    text-align: left;}

.mb-320{margin: 2em 0 0;}
.banner-text .btn-primary{margin-right: 10%;}
.mb-b-320{text-align: center;}
.pic2Ab{text-align: center;float: none;}
.platform_img{text-align: center;}
.platform p {
    font-size: 16px;
    line-height: 25px;
    color: #6d7c93;
    font-family: camingodos-web, sans-serif;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 15%;text-align: center;
}

#platform h3 {
    color: #6673e5;
    text-transform: uppercase;
    margin: 0% 0 3%;
    font-size: 20px;
    font-weight: 600;text-align: center;
}
#platform{margin: 0}
.howitworks h2 {
    color: #6673e5;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
.howitworks p {
    color: #6d7c93;
    margin-bottom: 20%;
    padding: 0 6%;
    line-height: 25px;
    font-size: 16px;
}

.editorNo{padding: 1px;width: 7%;}
.editorNo div {
    margin: 6px 0;
    font-size: 12px;
    font-weight: 500;
}
.roadmapTitles {
    margin: 5em 0 0em;text-align: center;}
.contact-ul ul li {
    color: #6d7c93;
    text-align: center;
    margin: 10px 0 20px 0;
}
.contact-ul ul {
    margin: 0 0 4em;
    padding: 0 10px;
}
.contact-ul{text-align: center;}
.editorCode {
    background: #fff;
    color: #000;
    text-align: left;
    padding: 19px;
    font-size: 13px;
    width: 93%;
}
.navbar-default{    padding: 10px 0;}
.navbar-toggle {
    position: relative;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 4px;
    border: none;
    }
.roadMapBGR { height: 1100px;}

}
@media (min-width: 376px) and (max-width: 550px) { 
    .roadmapResult h3{margin-bottom: 1em;margin-top: 2em;text-align: center;}
    .mb-pd-0{padding: 0}
    .tableRes{overflow: auto;}
    .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    }
    .navbar-toggle{margin-top: 20px;}
    .navbar-brand{
        margin-top: 0px;
    }
    .carousel-info {
        margin-bottom: 30px;
    }
    .type--fine-print{
        text-align: center;
    }
    .text-center-xs{
        text-align: center !important;
    }
    .social-list{
        margin-bottom: 15px;
    }
    .banner-text h2 {
    font-size: 20px;
    }
    .banner-text p {
    font-size: 15px;
    }
    .title-text{
    margin-bottom: 15px;
    }
    .btn-lg{width: 60%;}
    .m-r-3{margin-right: 3%}
    .outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 580px;
        float: right;
    margin-top: -26%;}

.inner {
    position: absolute;
        right: -19%;
    top: 16%;
}
.inner2 {
    position: absolute;
    right: 20%;
    top: 40%;
}
.featureImg {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
        float: left;}

.featureImginner {
    position: absolute;
        right: -6%;
    top: 50px;
}
.featureImgright {
       overflow: hidden;
    position: relative;
    width: 100%;
    height: 650px;
    float: right;}

.featureImgrightinner {
        position: absolute;
    right: -33%;
    top: 50px;
}
.social {
    margin: 10em 0 0;
}

.codeingImg{margin-top: 20px;}
#portfolia-stripes{height: 1150px;}
.btn-lg{margin: 10px 0}
.contact-sec h2 {
       font-size: 25px;
}
.contact-sec p b{font-size: 16px;}
.contact-sec {
    margin-left: 0;
}
.social-list li{width: 20%;} 
#testimonial-stripes{height: 950px;}
.copyright{margin-left: 0;text-align: center;}
.dot{margin-right: 10px;}

.currentFtur {
    margin: 8em 0 0em;
}
.copyright ul li {
    position: relative;
    margin-top: 0;
    margin-left: 1em;
    bottom: 0;
}
.stripe {
    font-weight: 400;
    color: #159570;
    word-wrap: break-word;
}
.currentFtr {
    margin-left: 0em;
    margin-top: 0;
}
.featureText h4 {
    color: #6673e5;
    margin-right: 0;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.test-sec{margin-top: 6em;}
.featureText p {
    margin-right: 0%;
    color: #6d7c93;
    letter-spacing: 1px;
    text-align: left;}
.social-list p {
    font-size: 11px;
    margin: 25px 25px 0;
    color: #585858;
    text-align: center;
}
.roadmap{padding: 0;margin: 20px 0}
.platform {
    float: left;
    text-align: left;
    padding: 0;
}
.mb-320{margin: 2em 0 0;text-align: center;}
.social h4 {
    color: #00cf6f;
    margin-bottom: 15%;
    text-align: center;
}
.social-list img{margin-left: 15px;}
.navbar-default{    padding: 10px 0;}
.navbar-toggle {
    position: relative;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 4px;
    border: none;
    }

.mb-b-320{text-align: center;}
.pic2Ab{text-align: center;float: none;}
.platform_img{text-align: center;}
.platform p {
    font-size: 16px;
    line-height: 25px;
    color: #6d7c93;
    font-family: camingodos-web, sans-serif;
    font-weight: 500;
    margin-top: 7%;
    margin-bottom: 15%;
}

#platform h3 {
    color: #6673e5;
    text-transform: uppercase;
    margin: 0% 0 3%;
    font-size: 20px;
    font-weight: 600;
}
#platform{margin: 0}
.howitworks h2 {
    color: #6673e5;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
.howitworks p {
    color: #6d7c93;
    margin-bottom: 20%;
    padding: 0 6%;
    line-height: 25px;
    font-size: 16px;
}

.editorNo{padding: 2px;}
.editorNo div {
    margin: 6px 0;
    font-size: 12px;
    font-weight: 500;
}
.roadmapTitles {
    margin: 5em 0 0em;text-align: center;}
.contact-ul ul li {
    color: #6d7c93;
    text-align: center;
    margin: 10px 0 20px 0;
}
.contact-ul ul {
    margin: 0 0 4em;
    padding: 0 10px;
}
.contact-ul{text-align: center;}
.editorCode {
    background: #fff;
    color: #000;
    text-align: left;
    padding: 11px;
    font-size: 13px;
}
.voiserd{text-align: center;}
.subtitleRd{text-align: center;}
.roadMapBGR { height: 1200px;}



}
@media (min-width: 321px) and (max-width: 375px) { 
    .roadmapResult h3{margin-bottom: 1em;margin-top: 2em;text-align: center;}
    .mb-pd-0{padding: 0}
    .tableRes{overflow: auto;}
    .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    }
    .navbar-toggle{margin-top: 15px;}
    .navbar-brand{
        margin-top: 0px;
    }
    .carousel-info {
        margin-bottom: 30px;
    }
    .type--fine-print{
        text-align: center;
    }
    .text-center-xs{
        text-align: center !important;
    }
    .social-list{
        margin-bottom: 15px;padding-left: 0;
    }
    .banner-text h2 {
    font-size: 20px;
    }
    .banner-text p {
    font-size: 15px;
    }
    .title-text{
    margin-bottom: 15px;
    }
    .btn-lg{width: 60%;}
    .m-r-3{margin-right: 3%}
    .outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 580px;
        float: right;
    margin-top: -26%;}

.inner {
    position: absolute;
        right: -19%;
    top: 16%;
}
.inner2 {
    position: absolute;
    right: 20%;
    top: 40%;
}
.featureImg {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
        float: left;}

.featureImginner {
    position: absolute;
        right: -6%;
    top: 50px;
}
.featureImgright {
       overflow: hidden;
    position: relative;
    width: 100%;
    height: 650px;
    float: right;}

.featureImgrightinner {
        position: absolute;
    right: -33%;
    top: 50px;
}
.social {
    margin: 10em 0 0;
}

.codeingImg{margin-top: 20px;}
#portfolia-stripes{height: 1200px;}
.btn-lg{margin: 10px 0}
.contact-sec h2 {
       font-size: 25px;
}
.contact-sec p b{font-size: 16px;}
.contact-sec {
    margin-left: 0;
}
.social-list li{width: 100%;} 
#testimonial-stripes{height: 940px;}
.copyright{margin-left: 0;text-align: center;}
.dot{margin-right: 10px;}

.currentFtur {
    margin: 8em 0 0em;
}
.copyright ul li {
    position: relative;
    margin-top: 0;
    margin-left: 1em;
    bottom: 0;
}
.stripe {
    font-weight: 400;
    color: #159570;
    word-wrap: break-word;
}
.currentFtr {
    margin-left: 0em;
    margin-top: 0;
}
.featureText h4 {
    color: #6673e5;
    margin-right: 0;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.test-sec{margin-top: 6em;}
.featureText p {
    margin-right: 0%;
    color: #6d7c93;
    letter-spacing: 1px;
    text-align: left;}

.social-list p {
    font-size: 11px;
    margin: 25px 15px 0;
    color: #585858;
    text-align: center;
}
.roadmap{padding: 0;margin: 20px 0}
.platform {
    float: left;
    text-align: left;
    padding: 0;
}
.mb-320{margin: 2em 0 0;}
.social h4 {
    color: #00cf6f;
    margin-bottom: 15%;
    text-align: center;
}

.editorCode {
    background: #fff;
    color: #000;
    text-align: left;
       padding: 18px;
    font-size: 12px;
}
.codeingImg {
    margin-left: 0;width: 80%;
}
.business{font-size: 17px;}
.navbar-default{    padding: 10px 0;}
.navbar-toggle {
    position: relative;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 4px;
    border: none;
    }

.mb-b-320{text-align: center;}
.pic2Ab{text-align: center;float: none;}
.platform_img{text-align: center;}
.platform p {text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: #6d7c93;
    font-family: camingodos-web, sans-serif;
    font-weight: 500;
    margin-top: 7%;
    margin-bottom: 15%;
}

#platform h3 {
    color: #6673e5;
    text-transform: uppercase;
    margin: 0% 0 3%;
    font-size: 20px;
    font-weight: 600;text-align: center;
}
#platform{margin: 0}
.howitworks h2 {
    color: #6673e5;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
.howitworks p {
    color: #6d7c93;
    margin-bottom: 20%;
    padding: 0 6%;
    line-height: 25px;
    font-size: 16px;
}

.editorNo{padding: 13px;}
.editorNo div {
    margin: 6px 0;
    font-size: 13px;
    font-weight: 500;
}
.roadmapTitles {text-align: center;
    margin: 5em 0 0em;}
.contact-ul ul li {
    color: #6d7c93;
    text-align: center;
    margin: 10px 0 20px 0;
}
.contact-ul ul {
    margin: 0 0 4em;
    padding: 0 10px;
}
.contact-ul{text-align: center;}
.voiserd{text-align: center;}
.subtitleRd{text-align: center;}
.roadMapBGR { height: 1200px;}


}
@media (min-width: 100px) and (max-width: 320px) { 
    .roadmapResult h3{margin-bottom: 1em;margin-top: 2em;text-align: center;}
    .mb-pd-0{padding: 0}
    .tableRes{overflow: auto;}
    .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    }
    .navbar-toggle{margin-top: 12px;}
    .navbar-brand{
        margin-top: 0px;
    }
    .carousel-info {
        margin-bottom: 30px;
    }
    .type--fine-print{
        text-align: center;
    }
    .text-center-xs{
        text-align: center !important;
    }
    .social-list{
        margin-bottom: 15px;padding: 0;
    }
    .banner-text h2 {
    font-size: 20px;
    }
    .banner-text p {
    font-size: 15px;
    }
    .title-text{
    margin-bottom: 15px;
    }
    .btn-lg{width: 70%;}
    .m-r-3{margin-right: 3%}
    .outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 580px;
        float: right;
    margin-top: -26%;}

.inner {
    position: absolute;
        right: -19%;
    top: 16%;
}
.inner2 {
    position: absolute;
    right: 20%;
    top: 40%;
}
.featureImg {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
        float: left;}

.featureImginner {
    position: absolute;
        right: -6%;
    top: 50px;
}
.featureImgright {
       overflow: hidden;
    position: relative;
    width: 100%;
    height: 650px;
    float: right;}

.featureImgrightinner {
        position: absolute;
    right: -33%;
    top: 50px;
}
.social {
    margin: 13em 0 0;
}

.codeingImg{margin-top: 20px;}
#portfolia-stripes{height: 1200px;}
.btn-lg{margin: 10px 0}
.contact-sec h2 {
       font-size: 25px;
}
.contact-sec p b{font-size: 16px;}
.contact-sec {
    margin-left: 0;
}
.social-list li{width: 100%;} 
#testimonial-stripes{height: 1000px;}
.copyright{margin-left: 0}
.dot{margin-right: 10px;}

.currentFtur {
    margin: 8em 0 0em;
}
.copyright ul li {
    position: relative;
    margin-top: 0;
    margin-left: 1em;
    bottom: 0;
}
.social-list p {
    font-size: 11px;
    margin: 10px 15px 0;
    color: #585858;
    text-align: center;
}
.roadmap{padding: 0;margin: 20px 0; line-height: 15px;
    font-size: 12px;
    color: #6b7c93;}
.stripe {
    font-weight: 400;
    color: #159570;
    word-wrap: break-word;
}
.currentFtr {
    margin-left: 0em;
    margin-top: 0;
}
.featureText h4 {
    color: #6673e5;
    margin-right: 0;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.test-sec{margin-top: 6em;}
.featureText p {
    margin-right: 0%;
    color: #6d7c93;
    letter-spacing: 1px;
    text-align: left;}
.platform {
    float: left;
    text-align: left;
    padding: 0;
}
.mb-320{margin: 2em 0 0;text-align: center;}
.social h4 {
    color: #00cf6f;
    margin-bottom: 15%;
    text-align: center;
}
.editorCode {
    background: #fff;
    color: #000;
    text-align: left;
    padding: 7px;
    font-size: 12px;
}
.business{font-size: 15px;}
.navbar-default{    padding: 10px 0;}
.navbar-toggle {
    position: relative;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 4px;
    border: none;
    }

.mb-b-320{text-align: center;}
.pic2Ab{text-align: center;float: none;}
.platform_img{text-align: center;}
.platform p {
    font-size: 16px;
    line-height: 25px;
    color: #6d7c93;
    font-family: camingodos-web, sans-serif;
    font-weight: 500;
    margin-top: 7%;
    margin-bottom: 15%;
}

#platform h3 {
    color: #6673e5;
    text-transform: uppercase;
    margin: 0% 0 3%;
    font-size: 20px;
    font-weight: 600;
}
#platform{margin: 0}
.howitworks h2 {
    color: #6673e5;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
.howitworks p {
    color: #6d7c93;
    margin-bottom: 20%;
    padding: 0 6%;
    line-height: 25px;
    font-size: 16px;
}

.editorNo{padding: 2px;}
.editorNo div {
    margin: 6px 0;
    font-size: 12px;
    font-weight: 500;
}
.roadmapTitles {
    margin: 5em 0 0em;}
.contact-ul ul li {
    color: #6d7c93;
    text-align: center;
    margin: 10px 0 20px 0;
}
.contact-ul ul {
    margin: 0 0 4em;
    padding: 0 10px;
}
.contact-ul{text-align: center;}
.voiserd{text-align: center;}
.subtitleRd{text-align: center;}
.roadMapBGR { height: 1200px;}
}