
.banner-text h2,
.banner-text h2 span,
.banner-text p,
.deco,
.voise-platform p,
body {
    font-family: 'Lato', sans-serif;
}

.page {
    width: 100%;
    overflow-x: hidden;
}

.logo{
  color: #fff;
  font-weight: 300;
  padding: 0px;
  float: left;
  position: relative;
  width: 148px;
  line-height: 1.8;
  font-size: 30px;
}

.logo img{
  width: 44px;
  float: left;
  margin-right: 12px;
  margin-top:-2px;
}
body {
    line-height: 1.4;
    letter-spacing: .5px;
    font-size: 15px;
    font-weight: 400;
    overflow-x: hidden
}

img {
    vertical-align: middle;
    max-width: 100%;
}

ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
a {
    outline: 0;
    cursor: pointer;
}

a:active,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
    color: initial;
}
.header {
    background-size: cover;
    min-height: 600px;
    position: relative;
}

.sub-header{
background: #ff6b66;
    width: 100%;
    padding: 13px;
    text-align: center;
    color: #fff;
    position: relative;
    float: left;
    z-index: 100;
}

.sub-header a{
color: #fff;
    font-size: 15px;
    font-family: 'Noto Sans';
}

.menu-dashboard{
  display: none;
}

#main-header{
  width: 100%;
    float: left;
    padding: 7px 16px;
    margin-bottom: -66px;
z-index: 1000;
position: relative;
background: transparent;
}
#main-header.fixed{
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

#main-header .navbar {
  margin: 0px 49px;
  display: block;
  float: left;
  width: 389px;
}

#main-header .navbar ul{
  float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#main-header .navbar ul li {
    float: left;
    width: 25%;
    text-align: center;
    display: block;
    padding: 13px;
}


#main-header .navbar ul li a{
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    line-height: 18px;
    font-size: 12px;
    padding-left:3px;
    padding-right:3px;
}

#main-header .navbar ul li a:hover{
  border-bottom: 3px solid #ff6b66;
}

#main-header.fixed .navbar ul li a{
  color:#333;
}
#main-header .logo a:hover{
  color:#ddd;
}
#main-header.fixed .logo{
  color: #191919;
}

#main-header .menu-right{
  margin-top: 4px;
}

#main-header h1{
  margin: 8px 3px;
  font-size: 30px;
}

.btn-transparent{
  background: rgba(0, 0, 0, 0);
border: 1px solid #ff6b66;
font-size: 12px;
text-transform: uppercase;
color: #ff6b66;
padding: 4px 19px;
margin-right: 10px;
    margin-top: 7px;
}

.btn-red:hover{
  background: #fff;
color: #ff6b66;
}
.btn-transparent:hover{
  background: #ff6b66;
    color: #fff;
}

.btn-red{
  background: #ff6b66;
border: 1px solid #ff6b66;
font-size: 12px;
text-transform: uppercase;
color: #fff;
padding: 4px 19px;
margin-right: 10px;
    margin-top: 7px;
}



.main-wrapper{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0080ff+0,ff5650+92,ff5650+100,ff5650+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ff6b66+100 */
  background: #ffffff; /* Old browsers */
  /*background: -moz-linear-gradient(top, #ffffff 0%, #ff6b66 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, #ffffff 0%,#ff6b66 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, #ffffff 0%,#ff6b66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff6b66',GradientType=0 ); /* IE6-9 */*/
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#1a237e),color-stop(100%,#81d4fa));
  background-image: -moz-linear-gradient(#1a237e,#81d4fa);
  background-image: -webkit-linear-gradient(#1a237e,#81d4fa);
  background-image: linear-gradient(#1a237e,#81d4fa);
  text-align: center;
  height: 97vh;
  overflow: hidden;
  float: left;
  width: 100%;
  position: relative;
  color: #fff;
  padding: 10vh 20px;
}

.main-wrapper .img-fluid{
  z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 39vh;
}

.main-wrapper h1{
  font-family: 'Lato', sans-serif;
font-weight: 100;
font-size: 51px;
}

.main-wrapper p{
  font-size: 28px;
      line-height: 1.5;
  font-weight: 100;
  margin-top: 32px;
  margin-bottom: 36px;
}

#countdown{
  font-size: 10px;
margin: 10px 10px -25px;
}

.main-wrapper .btn-transparent, .main-wrapper .btn-red{
  margin-bottom: 4em;
    font-size: 14px;
    padding: 11px 40px;
    margin-top: 2em;
    width: 236px;
margin-right: 0px;
}

.music_industry{
  /*background-image: url('../img/voise_big.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  float: left;
  width: 100%;
  padding: 1em 10px;
}

.music_industry img{
      float: right;
}

.music_industry h2{
      margin-top: 12vh;
}

h2{
  font-size: 26px;
font-weight: 100;
margin-bottom: 26px;
}

.music_industry p{
  font-weight: 100;
max-width: 502px;
line-height: 1.8;
}

.music_features{
  text-align: center;
  /*background-image: url('../img/voise_big_black.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: #f0f0f2;
  padding: 5em 0px;
  float: left;
  width: 100%;
  font-weight: 100;
}

.music_features img{
  width: 53px;
  margin: -7px 0px;
}

.music_features .platform-features{
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 18px 10%;
  margin: 21px 0px;
  min-height: 153px;
  position: relative;
  overflow: hidden
}

.platform-features .fa-globe{
  background: #ff6b66;
  padding: 13px 14px 13px 20px;
  color: #fff;
  position: absolute;
  top: -1px;
  left: -6px;
  z-index: 0;
  border-bottom-right-radius: 5px;
  font-size: 20px;
}

.platform-features .fa-credit-card{
  background: #ff6b66;
    padding: 13px 19px 13px 15px;
    color: #fff;
    position: absolute;
    top: -1px;
    right: -6px;
    z-index: 0;
    border-bottom-left-radius: 5px;
    font-size: 20px;
}


.platform-features .fa-btc{
  background: #ff6b66;
padding: 13px 16px 13px 20px;
color: #fff;
position: absolute;
top: -1px;
left: -3px;
z-index: 0;
border-bottom-right-radius: 5px;
font-size: 20px;
}

.platform-features .fa-users{
  background: #ff6b66;
    padding: 13px 19px 13px 15px;
    color: #fff;
    position: absolute;
    top: -1px;
    right: -6px;
    z-index: 0;
    border-bottom-left-radius: 5px;
    font-size: 20px;
}

.music_features h3{
      font-size: 20px;
  position: relative;
}

.music_features p{
font-size:17px;
}

.music_features h2{
  font-size: 26px;
font-weight: 100;
margin-bottom: 26px;
  position: relative;
}

.equilizer_div{
  position: absolute;
  bottom: 0px;
  width: 150%;
  left: 0px;
  height: 96px;
}

.equalizer {
width: 45px;
height: 77px;
margin-top: 20px;
position: relative;
border-collapse: collapse;
display: table;
float: left;
}
.equalizer span {
background-color:  #fff;
width: 6px;
height: 0px;
float: left;
-webkit-transition: height 0.2s linear;
transition: height 0.2s linear;
margin-left: 0px;
position: absolute;
bottom: 0px;
}
.equalizer span:nth-child(1) {
left: 0;
/*background: #7923ef;*/
}
.equalizer span:nth-child(2) {
left: 15px;
/*background: #fd7c26;*/
}
.equalizer span:nth-child(3) {
left: 30px;
/*background: #e11483;*/
}


/*.music_features h2:before {
    width: 40px;
    content: "";
    height: 3px;
    background: #ff6b66;
    position: absolute;
    left: 0px;
    bottom: -15px;
}

.music_features h2:after {
    width: 40px;
    content: "";
    height: 3px;
    background: #037ffc;
    position: absolute;
    left: 47px;
    bottom: -15px;
}*/


.voise-editor {
  background: #ececec;
  -webkit-box-shadow: 0 0 25px 0 rgba(221, 221, 221, 1);
  -moz-box-shadow: 0 0 25px 0 rgba(221, 221, 221, 1);
  box-shadow: 0 0 25px 0 rgba(221, 221, 221, 1);
  border-radius: 5px;
  width: 86%;
  float: left;
  margin: 0px 7%;
  padding: 0px;
  height: 320px;
  overflow-y: scroll;
}

.voise-editor .number-row{
  width: 35px;
  float: left;
  height: auto;
  background: #ff6b66;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 11px;
}

.voise-editor .number-row ul{
  padding: 0px;
margin: 0px;
list-style-type: decimal;
float: left;
height: auto;
width: 39px;
}

.voise-editor .number-row ul li{
  width: 100%;
  float: left;
  margin-left: 38px;
  color: #fff;
  font-size: 14px;
}

.voise-editor .editorCode{

}

.available {
  opacity: 0.65;
  width: 30%;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  margin: 12% 35%;
  z-index: 2;
  display: none;
  height: 35%;
}

.editorNo {
    background: #ebedff;
    color: #8a94eb;
    text-align: center;
    padding: 13px;
    border-radius: 3px 0 0 3px;

    /*-webkit-filter: blur(1.6px);
    filter: blur(1.6px);*/
}

.editorNo div {
    margin: 6px 0;
    font-size: 13px;
    font-weight: 500;
}

.editorCode {
  background: #ececec;
  color: #000;
  text-align: left;
  font-size: 14px;
  padding: 3px 19px 19px 48px;
  overflow: hidden;
  font-family: source-code-pro, Monaco;
  height: auto;
  word-wrap: break-word;
min-width: 450px;
word-break: break-all;
}

.const {
    color: #fa7a61;
    font-weight: 700;
}

.normaltext {
    color: #424770;
}

.require {
    font-weight: 600;
    color: #3297d3;
}

.stripe {
    font-weight: 400;
    color: #159570;
}

.comment {
    font-weight: 400;
    color: #91a2b0;
}

.testnumber {
    color: #159570;
    font-weight: 500;
}

#portfolio{
  padding: 3em 20px;
  float: left;
  width: 100%;
  /*background-image: url(../img/voise_big.png);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  overflow-x: hidden;
}

#portfolio .btn-div{
  text-align: center;
  padding: 36px;
  float: left;
  width: 100%;
}

#portfolio .btn-div .btn{
  margin-right: 0px;
}

.howitworks{
  margin-bottom: 3em;
}

.howitworks p{
  font-weight: 100;
  line-height: 1.8;
}

#register-now{
  width: 100%;
  float: left;
  background: #ff6b66;
padding: 4em 20px 5em;
text-align: center;
color: #fff;
font-weight: 100;
}

#register-now p{
  margin-bottom: 35px;
  font-size: 21px;
}

.btn-white{
  background: #fff;
  padding: 6px 26px;
  border-radius: 4px;
  color: #ff6b66;
  font-weight: 500;
}

#testimonial{
  /*background-image: url('../img/voise_big_black.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: #f0f0f2;
  float: left;
  width: 100%;
  padding:4em 0px;
}

#testimonial p{
      font-weight: 100;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.footer-copy{
  float: left;
    width: 100%;
    background: #fff;
    padding: 3em 0px;
}

.footer-copy .col-md-4{
  padding-left: 10%;
}

.footer-copy .img-fluid{
  width: 102px;
}

.footer-copy ul{
  margin: 0px;
  padding: 12px 3px;
  font-weight: 100;
}

.footer-copy ul li{
  width: 100%;
  float: left;
}
.footer-copy ul li a{
  color: #000;
  padding: 5px 0px;
  float: left;
}

.footer-copy ul li b{
  color: #8a8a8a;
margin-bottom: 11px;
float: left;
font-weight: 100;
}

ul.social-list img{
  float: left;
width: 19px;
margin-right: 10px;
}

ul.social-list p{
  float: left;
}

.copyright{
  width: 100%;
  text-align: center;
  font-weight: 100;
}

.roadmap{
  text-align: center;
width: 100%;
float: left;
padding: 3em 0px 5em;
}

.roadmap img{
  width: 182px;
    padding: 22px;
}

.menu-dashboard{
  float: right;
  color: #fff;
  margin: -2px -5px -10px;
  padding: 10px;
  font-size: 27px;
  color: #ff6b66;
}

.header-1{
  width: 100%;
  float: left;
  height: 68px;
  background: #333;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#1a237e),color-stop(100%,#81d4fa));
  background-image: -moz-linear-gradient(#1a237e,#81d4fa);
  background-image: -webkit-linear-gradient(#1a237e,#81d4fa);
  background-image: linear-gradient(#1a237e,#81d4fa);
  text-align: center;
  color: #fff;
}

.header-1 h1{
  font-weight: 100;
}

.sub-page-content{
  float: left;
  width: 100%;
  padding: 5em 0px;
  font-weight: 100;
  text-align: center;

  line-height: 1.8;
font-size: 18px;
}

.team-voise{
  width: 100%;
  float: left;
  background: #f0f0f2;
  padding: 3em 0px 5em;
  /*background-image: url('../img/voise_big_black.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.team-member{
  width: 31%;
  float: left;
  margin: 1%;
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  height: 120px;
}

.team-member img{
  width: 62px;
      float: left;
      margin-right: 17px;
      margin-top: 12px;
}

.team-voise h3{
  text-align: center;
margin-bottom: 2em;
}

.tokenTxt h4{
  color: #777;
font-weight: 100;
}

.tokenTxt ul{    padding: 0px;}

.tokenTxt ul li{
  position: relative;
text-indent: 20px;
margin-bottom: 4px;
}


.tokenTxt ul li a{
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 4px;
  color: #333;
}

.coinmarketcap-currency-widget{
  background: #fff;
  border-radius: 10px;
}
.tokenTxt ul li:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 16px;
  background: #df1487;
  left: 0px;
  top: 9px;
}

.exchanges_token{
  float: left;
  width: 100%;
  padding: 4em 0px 6em;
  text-align: center;
  font-weight: 100;
  line-height: 1.8;
  /*background-image: url('../img/voise_big.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.exchanges_token img{
  height: 136px;
}

.exchanges_token .btn{
  background: rgba(51, 51, 51, 0);
border: 1px solid #ff6b66;
border-radius: 6px;
padding: 4px 27px;
color: #ff6b66;
margin-top: 19px;
}

.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}

.multi-item-carousel .carousel-inner>.item>a>img,.multi-item-carousel .carousel-inner>.item>img,.multi-item-carousel .img-responsive,.multi-item-carousel .thumbnail a>img, .thumbnail>img{
  height: 77px;
  float: none;
  margin: 0px auto;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

.multi-item-carousel .carousel-control{
  font-size: 49px;
    color: #ff6b66;
    opacity: 1;
}

.multi-item-carousel .carousel-control.left{
  left: -76px;
}

.multi-item-carousel .carousel-control.right{
  right: -76px;

}


.partner_voise{
  width: 100%;
  float: left;
  text-align: center;
  background: #f0f0f2;
  /*background-image: url(../img/voise_big_black.png);*/
background-repeat: no-repeat;
background-attachment: fixed;
background-size: contain;

  padding: 3em 20px 6em;
}

.carousel-control.left, .carousel-control.right{
  background: none;
  background-image:none;
}


.modal-backdrop.in{
  display: none;
}
.modal-content{

}

.token-info{
  text-align: center;
  padding: 3em 0px;
  width: 100%;
  float: left;
  background: #f0f0f2;
  min-height: 80vh;
}

.address-row{
  background: #ff6b66;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.address-row .col-md-2{
      line-height: 5;
}

.address-row h1{
  background: #fff;
    color: #333;
    margin: 13px 0px;
    padding: 10px 10px;
    float:left;
    font-size: 28px;
    width: 100%;
    word-wrap: break-word;
}

.aboutBody{
      min-height: 65vh;
}

.aboutDiv h4{
  font-weight: 100;
  color: #9a9a9a;
  font-size: 14px;
}

.tokenDesc{
  margin-bottom: 8vh;
}

.tokenExtraText{
  width: 600px;
  background: #fff;
  text-align: left;
  padding: 10px 2em;
  margin: 2em;
  line-height: 2;
  border-left: 3px solid #ff6b66;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 780px) {
  .menu-dashboard{
    display: block;
  }

  #main-header .navbar, #main-header .menu-right{
    display: none;
  }
  .logo img {
    width: 34px;
    margin-top: 5px;
  }
  .main-wrapper h1{
    font-size: 34px;
  }
  .main-wrapper p {
    font-size: 17px;
}
.footer-copy .social-list li{
  width:45%;
  float: left;
}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {

  /*.menu-dashboard{
    display: block;
  }
  #main-header .navbar, #main-header .menu-right{
    display: none;
  }
  #main-header .navbar, #main-header .menu-right{
    display: none;
  }
  .logo img {
    width: 124px;
    margin-top: 5px;
  }
  .main-wrapper h1{
    font-size: 34px;
  }
  .main-wrapper p {
    font-size: 17px;
}
.music_industry{
      text-align: center;
}*/
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 800px) {
  #main-header .navbar, #main-header .menu-right{
    display: none;
  }

  .menu-dashboard{
      display:block
  }
  .main-wrapper h1{
    font-size: 31px;
  }
  .music_industry{
      text-align: center;
  }

  .music_industry h2{
    margin-top: 4vh;
  }

  .footer-copy .social-list li{
    width: 40%;
    float: left;
    margin-left: 10%;
  }
  .multi-item-carousel .carousel-inner>.item>a>img, .multi-item-carousel .carousel-inner>.item>img, .multi-item-carousel .img-responsive, .multi-item-carousel .thumbnail a>img, .thumbnail>img{
    height: 43px;
  }

  .music_industry, .music_features, .section-padding, #testimonial, .roadmap, .partner_voise{
    background-image: none;
  }
  .main-wrapper p {
    font-size: 19px;
  }

  .main-wrapper .img-fluid{
    position:relative;
    top: inherit;
  }

  .equilizer_div{
    display: none;
  }

  .footer-copy .col-xs-12{
    float: left;
    width: 100%;
    background: #f0f0f2;
    padding: 1em 38px;
    margin-bottom: 32px;
        margin-top: 21px;
  }

  .main-wrapper{
    height: 618px;
  }

  .team-member {
    margin: 3% 0%;
    width: 100%;
    padding: 15px;
    height: 120px;
}
.tokenTxt h4{
      margin-top: 2em;
}

#testimonial{
  padding: 0px;
}
  .main-wrapper .btn-red {
    margin-bottom: 2em;
  }

  .voise-editor{
    width: 100%;
    margin: 0%;
  }

  .partner_voise .col-xs-4{
    width: 100%;
  }

  .multi-item-carousel .carousel-control.left {
    left: 6px;
}
.multi-item-carousel .carousel-control.right {
    right: 6px;
}

#quote-carousel .carousel-control{
  display: none;
}

ul.social-list{
  margin: 1px -11%;
  float: left;
}
.editorCode{
  font-size: 12px;
}
.voise-editor .number-row ul li{
      font-size: 12px;
}
.tokenDesc {
    margin-bottom: 5vh;
}

.address-row .col-md-2 {
    line-height: 3;
        margin-bottom: -14px;
}

.address-row h1 {
    margin: 13px 0px;
    padding: 10px 10px;
    font-size: 22px;
    width: 100%;
}

.tokenExtraText {
    width: auto;
    display: block;
    margin: 40px 0px;
    line-height: 1.5;
    font-size: 12px;
}
  /*.logo img {
    width: 124px;
    margin-top: 5px;
}
.main-wrapper h1{
  font-size: 34px;
}
.main-wrapper p {
    font-size: 17px;
}
.music_industry{
      text-align: center;
}*/
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .menu-dashboard{
    display: block;
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .menu-dashboard{
    display: block;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .menu-dashboard{
    display: block;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  .menu-dashboard{
    display: none;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}
